{% extends 'base.html' %}

{% block content %}
    {% for file in files %}
    <tr>
        <td>
            <p>
            {% if file.is_file and file.playable %}
                <i class="small material-icons">perm_media</i>
            {% elif file.is_file and not file.playable %}
                <i class="small material-icons">insert_drive_file</i>
            {% else %}
                <i class="small material-icons">folder</i>
            {% endif %}
            &nbsp;
            {% if file.playable %}
                <a class="waves-effect waves-light modal-trigger" style="font-size: 32px" href="#video_window" onclick="showVideo('{{file.name}}', '?path={{file.path.replace('\\','\\\\')}}', '{{file.playable_tag}}')">{{file.name}}</a>
            {% else %}
                <a href="?path={{file.path}}" style="font-size: 32px">{{file.name}}</a>
            {% endif %}
            &nbsp;</p>
            <p style="font-size: 20px">
                {{file.time.strftime("%b %d %Y %I:%M%p")}}
                {% if file.size != '--' %}
                     - {{file.size}}
                {% endif %}
            </p>
        </td>
    </tr>
    {% endfor %}
{% endblock %}