{% extends 'base.html' %}

{% block navbar %}
    <nav style="height: auto; padding: 16px"><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="large material-icons" style="font-size: 64px">menu</i></a><div style="font-size: 64px">{{path}}</div></nav>
    <ul id="slide-out" class="sidenav">
        <li><a class="subheader" style="font-size: 24px; height: 64px; vertical-align:middle"><p>Navigate to</p></a></li>
        <li><div class="divider"></div></li>
        {% for route in routes %}
        <li><a class="waves-effect"  style="font-size: 24px; height: 96px; vertical-align:middle" href="?path={{route.path}}"><p>{{ route.name }}</p></a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {% for file in files %}
            <tr>
                <td>
                    {% if file.playable %}
                        <a class="waves-effect waves-light modal-trigger" href="#video_window" style="color: inherit; text-decoration: none; width:100%; height: 100%" onclick="showVideo('{{file.name}}', '?path={{file.path.replace('\\','\\\\')}}', '{{file.playable_tag}}')">
                    {% else %}
                        <a href="?path={{file.path}}" style="color: inherit; text-decoration: none; width:100%; height: 100%">
                    {% endif %}
                        <p style="font-size: 48px">
                        {% if file.is_file and file.playable %}
                            <i class="small material-icons">perm_media</i>
                        {% elif file.is_file and not file.playable %}
                            <i class="small material-icons">insert_drive_file</i>
                        {% else %}
                            <i class="small material-icons">folder</i>
                        {% endif %}
                        {{file.name}}
                        </p>
                        <p style="font-size: 30px">
                            {{file.time.strftime("%b %d %Y %I:%M%p")}}
                            {% if file.size != '--' %}
                                 - {{file.size}}
                            {% endif %}
                        </p>
                    </a>
                </td>
            </tr>
    {% endfor %}
{% endblock %}

{% block extraInitScripts %}
    $('.sidenav').sidenav();
{% endblock %}