<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ hostname }}'s Directory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav style="padding:0px 15px;">
        <div class="nav-wrapper">
            <div class="col s12">
                {% for route in routes %}
                    <a href="?path={{route.path}}" class="breadcrumb">{{ route.name }}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card-panel z-depth-2">
            <table class="highlight">
                <tr>
                    <th>Folder/Files</th>
                    <th>Last modified</th>
                    <th>Size</th>
                </tr>
                {% for file in files %}
                <tr>
                    <td>
                        {% if file.is_file and file.playable %}
                            <i class="tiny material-icons">perm_media</i>
                        {% elif file.is_file and not file.playable %}
                            <i class="tiny material-icons">insert_drive_file</i>
                        {% else %}
                            <i class="tiny material-icons">folder</i>
                        {% endif %}
                        &nbsp;
                        {% if file.playable %}
                            <a class="waves-effect waves-light modal-trigger" href="#video_window" onclick="showVideo('{{file.name}}', '?path={{file.path.replace('\\','\\\\')}}', '{{file.playable_tag}}')">{{file.name}}</a>
                        {% else %}
                            <a href="?path={{file.path}}">{{file.name}}</a>
                        {% endif %}
                        &nbsp;
                    </td>
                    <td>{{file.time.strftime("%b %d %Y %I:%M%p")}}</td>
                    <td>{{file.size}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="video_window" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 id="video_window_title"></h4>
            <video class="responsive-video" id="video_control" controls preload="metadata">
                <source>
            </video>
        </div>
        <div class="modal-footer">
            <a id="download" class="waves-effect waves-light btn">Download</a>&nbsp;
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
   </div>
    <p></p>
    <script>
        $(document).ready(function() {
            var stopVideoOnClose = function() {
                $('#video_window video')[0].pause();
            };
            $(".modal").modal({onCloseStart:stopVideoOnClose, height: "auto", maxHeight: "90%"});
        });

        lastFileName = ''
        function showVideo(fileName, mediaURL, mediaType) {
            if (fileName != lastFileName) {
                $(video_window_title).text(fileName);
                $('#video_window video source').attr('src', mediaURL);
                $('#video_window video source').attr('type', mediaType);
                $('#video_window video')[0].load();
                $('#download').attr('href', mediaURL+'&download=true');
                lastFileName = fileName;
            }
            $('#video_window video')[0].play();
        }
    </script>
</body>
</html>